/* src/css/AnnouncementModal.module.css */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    max-width: 600px;
    width: 90%;
    outline: none;
    border-radius: 8px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.form {
    display: flex;
    flex-direction: column;
}

.buttonGroup {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.message {
    margin-top: 10px;
    color: red;
}
