/* Auth.module.css */

.container {
    padding-top: 60px; /* Add top padding to avoid navbar overlap */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #B71C1C; /* Dark Red background */
    color: #fff;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
}

button:hover {
    background-color: #8E0000; /* Darker Red */
}
