/* Auth.module.css */

.container {
    padding-top: 100px;
    min-height: 100vh;
    background-color: #fff;  /* White background */
}

button {
    background-color: #B71C1C;  /* Dark Red background */
    color: #fff;  /* White text */
    border-radius: 8px;
    padding: 10px 15px;
}

input {
    border: 1px solid #B71C1C;  /* Dark Red border */
    color: #B71C1C;  /* Dark Red text */
}

a {
    color: #B71C1C;  /* Dark Red links */
    text-decoration: none;
}

h5 {
    color: #B71C1C;
    font-weight: bold;
}
