    .dashboard-container {
        display: flex;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: white;
    }
      

    /* Styling for the sidebar */
    .sidebar {
        display: flex;             
        flex-direction: column;   
        height: 100vh;               
        width: 250px;    
        background-color: #d34a4a;     
        padding: 20px;
        align-items: center;
        box-sizing: border-box;           
    }


    .sidebar a {
        text-decoration: none;
        color: white;
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    .sidebar a.active {
        text-decoration: underline;
        color: white;
    }

    .sidebar a:hover {
        color: rgb(218, 56, 56);
    }

    /* Styling for the logout button */
    .logout {
        /*
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 10px 15px;
        background-color: #e74c3c;     
        text-align: center;
        border-radius: 5px;
        */
        margin-top: auto;
    }

    .main-content {
        padding: 20px;
        overflow: auto;
        height: 100vh;
        box-sizing: border-box;
        width: 100%;
       /* max-width: calc(100%-250px) */
    }

   .greeting-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .greeting {
        font-size: 18px;
        font-weight: bold;
    }

    .event-cards-container {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        gap: 35px;
    }

    .add_event {
        color: white;
        background-color: rgb(158, 227, 54);
        border-radius: 5px;
        font-size: 15px;
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 10px;
    }

    .event-card {
        border: 1px solid black;
        padding: 20px;
        display: inline-block;
        width: 225px;
        height: 225px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .event-card button {
        display: block;
        margin: 10px;
        border: none;
        border-radius: 5px;
        background-color: white;
        text-decoration: underline;
    }

    .Remove {
        color: red;
    }

    
